{% extends 'base.html' %}


{% block content %}

<!-- ================ SECTION PRODUCTS ================ -->
<section class="padding-top">
    <div class="container">
    
        <header class="section-heading">
            <h3 class="section-title my-4">  Search for <span style="color: #8740dd;">{{search}}</span></h3>
        </header> 
    
        <div class="row">
            {% for product in products %}

            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="product-card">
                  <figure class="product-media">
                    <div class="product-label-group"><label class="product-label label-new">new</label><label class="product-label label-off">-10%</label></div><a class="product-image" href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="product"></a>
                  </figure>
                  <div class="product-content">
                    <h5 class="product-price"><span>${{ product.price }} </span><del>$42</del></h5>
                    <h5 class="product-name"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                    
                    <div class="product-action-group">
                      <div class="product-action"><a href="/favorites/7/" class="action-wish" title="Product Wish"><i class="icofont-ui-love"></i></a>
                        <button class="action-cart" title="Add to Cart"><span>See More</span></button>
                        <!-- <button class="action-view" title="Product View" data-toggle="modal" data-target="#product-view"><i class="icofont-eye-alt"></i></button> -->
                      </div>
                      <div class="product-action"><button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button><input class="action-input" title="Quantity Number" type="text" name="quantity" value="1"><button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button></div>
                    </div>
                  </div>
                </div>
              </div>

              {% empty %}

              <p class="text-center">There is no result for {{search}}</p>

            {% endfor %}
    
        </div> <!-- row end.// -->
    
    </div> <!-- container end.// -->
    </section>
    <!-- ================ SECTION PRODUCTS END.// ================ -->

    <footer class="footer-part">
        <p>Ecomart | © Copyright by <a href="#">Mironcoder</a></p>
      </footer>

{% endblock %}