<section class="padding-y-sm bg-gray-light">
    <div class="container">
        <div class="row gy-3 align-items-center">
            <div class="col-md-4">
                <form>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Email">
                        <button class="btn btn-light" type="submit"> Subscribe </button>
                    </div> <!-- input-group.// -->
                </form>
            </div>
            <div class="col-md-8">
                <nav class="float-lg-end">
                    <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#"><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                </nav>
            </div>
        </div> <!-- row.// -->
    </div><!-- //container -->
</section>